.tddateBox {
  width: 54px;
  height: 54px;
}
/* .tdday{
   
} */
.tddate {
  width: 54px;
  height: 54px;
  background-color: black;
}

.p-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:37px;
}
